<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donor</title>

    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="nav">
        <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" class="logo"></a>
        <ul>
            {% if session['login'] == True %}
            <li role="presentation"><a href="/logout" id="logout">Logout</a>
            </li>
            <li role="presentation"  id="dash_button"><a href="/showDash">Dashboard</a>
            </li>
            {% else %}
            <li role="presentation"><a href="/showSignIn" id="signin">Sign In</a>
            </li>
            <li role="presentation"  id="button"><a href="/showSignUp">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="mainContent">
        <h1>Welcome to Donor Dashboard, {{ session['name'] }}</h1>
    </div>
    <div class="donorFunctions">
        <h1>My Donations</h1>
        <div role="presentation">
            <a href="createPledge" id="pledgeButton"> Create a Pledge </a>
            <a href="/createDonation" id="donationButton"> Create a Donation </a>
        </div>
        <h3>My Pledges:</h3>
        <div class="table">
            <table id="pledges">
                <thead>
                <tr>
                    <th>Zipcode</th>
                    <th>Amount (Dollars)</th>
                    <th>Amount Delivered</th>
                    <th>Materials</th>
                    <th>Materials Delivered</th>
                    <th>Human Resources</th>
                    <th>Human Resources Delivered</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                {% if row[1] == None %}
                <tr>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{% if row[4] == 0 %}No{% else %}Yes{% endif %}</td>
                    <td>{{ row[5] }}</td>
                    <td>{% if row[6] == 0 %}No{% else %}Yes{% endif %}</td>
                    <td>{{ row[7] }}</td>
                    <td>{% if row[8] == 0 %}No{% else %}Yes{% endif %}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h3>My Donations:</h3>
        <div class="table">
            <table id="donations">
                <thead>
                <tr>
                    <th> Request Number </th>
                    <th>Zipcode</th>
                    <th>Amount (Dollars)</th>
                    <th>Amount Delivered</th>
                    <th>Materials</th>
                    <th>Materials Delivered</th>
                    <th>Human Resources</th>
                    <th>Human Resources Delivered</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                {% if row[1] != None %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{% if row[4] == 0 %}No{% else %}Yes{% endif %}</td>
                    <td>{{ row[5] }}</td>
                    <td>{% if row[6] == 0 %}No{% else %}Yes{% endif %}</td>
                    <td>{{ row[7] }}</td>
                    <td>{% if row[8] == 0 %}No{% else %}Yes{% endif %}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; DAMS 2021</p>
    </footer>

</div>
</body>
</html>