<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Pending Events</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="nav">
        <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" class="logo"></a>
        <ul>
            {% if session['login'] == True %}
            <li role="presentation"><a href="/logout" id="logout">Logout</a>
            </li>
            <li role="presentation"  id="dash_button"><a href="/showDash">Dashboard</a>
            </li>
            {% else %}
            <li role="presentation" id="signin"><a href="/showSignIn">Sign In</a>
            </li>
            <li role="presentation" id="button"><a href="/showSignUp">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="mainContent">
        <h1 align="center">Manage Pending Events:</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="table">
            <table id="events">
                <thead>
                <tr>
                    <th>Event Type</th>
                    <th>Zipcode</th>
                    <th>Event Name</th>
                    <th>Description</th>
                    <th>Recipient Email</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td><a href="/approveEvent/{{ row[0] }}/1" class = "approve">Approve</a> </td>
                    <td><a href="/approveEvent/{{ row[0] }}/0" class = "reject">Reject</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <footer class="footer">
        <p>&copy; DAMS 2021</p>
    </footer>

</div>
</body>
</html>