<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Events</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="nav">
        <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" class="logo"></a>
        <ul>
            {% if session['login'] == True %}
            <li role="presentation"><a href="/logout" id="logout">Logout</a>
            </li>
            <li role="presentation"  id="dash_button"><a href="/showDash">Dashboard</a>
            </li>
            {% else %}
            <li role="presentation" id="signin"><a href="/showSignIn">Sign In</a>
            </li>
            <li role="presentation" id="button"><a href="/showSignUp">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="mainContent">
        <h1 align="center">Search Events:</h1>
        <div class="pB">
            <form method="POST">
                <label for="search">Search:</label>
                <input type="text" placeholder="Search" name="search" id="search" required>
                <input type="submit" id="button3" value="Search">
            </form>
        </div>
        <div class="table">
            <table id="events">
                <thead>
                <tr>
                    <th>Event Type</th>
                    <th>Zipcode</th>
                    <th>Event Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        <td><a href="showEventPage/{{ row[0] }}" id="nameLink">{{ row[1] }}</a></td>
                        <td><a href="showEventPage/{{ row[0] }}">{{ row[2] }}</a></td>
                        <td><a href="showEventPage/{{ row[0] }}">{{ row[3] }}</a></td>
                        <td><a href="showEventPage/{{ row[0] }}">{{ row[4] }}</a></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <footer class="footer">
        <p>&copy; DAMS 2021</p>
    </footer>

</div>
</body>
</html>