<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In DAMS</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="nav">
        <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" class="logo"></a>
        <ul>
            {% if session['login'] == True %}
            <li role="presentation"><a href="/logout" id="logout">Logout</a>
            </li>
            <li role="presentation"  id="dash_button"><a href="/showDash">Dashboard</a>
            </li>
            {% else %}
            <li role="presentation"><a href="/showSignIn" id="signin">Sign In</a>
            </li>
            <li role="presentation"  id="button"><a href="/showSignUp">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="mainContent">
        <h1 align="center">Sign In</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST">
            <div class="pB">
                <label for="email">Email:</label>
                <input type="email" placeholder="john-doe@email.com" name="email" id="email" required>
            </div>
            <label for="psw">Password:</label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <input type="submit" id="button3" value="Sign In">
        </form>
    </div>


    <footer class="footer">
        <p>&copy; DAMS 2021</p>
    </footer>

</div>
</body>
</html>